################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EngineeringSight/.vs/EngineeringSight/v15/Server/sqlite3
/EngineeringSight
