################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EngineeringSight/DataMgmt.Buisness/obj/Debug
