################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EngineeringSight/DataMgmt.Buisness/obj/Debug
/EngineeringSight/DataMgmt.Common/obj/Debug
/EngineeringSight/EngineeringSight/obj/Debug
/EngineeringSight/EngineeringSight/bin
/EngineeringSight/EnggSightApi/obj/Debug
/EngineeringSight/EnggSightApi/bin
/EngineeringSight/DataMgmt.DataAccess/obj/Debug
/EngineeringSight/DataMgmt.Data/obj/Debug
/EngineeringSight/DataMgmt.Buisness
/EngineeringSight/DataMgmt.DataAccess/bin/Debug
/EngineeringSight/.vs/EngineeringSight/v15/Server/sqlite3
